{
  "presets": [
    "env"
  ],
  "env": {
    "commonjs": {
      "presets": [
        "env"
      ],
      "ignore": [
        "**/*.spec.js"
      ]
    },
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
